<!DOCTYPE html>
<html>
    <head>
        <title>{% block pageTitle %}{% endblock pageTitle %}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <!-- Custom styles -->
        {% stylesheets '@JamesMannionForumBundle/Resources/less/main.less' filter="cssrewrite" %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    </head>
    <body>
        <div class="container">
            <div class="row" id="header">
                <div class="container">
                    <div class="col-sm-12 col-md-3">
                        <a href="{{ path('homepage') }}"><img src="{{ asset('bundles/jamesmannionforum/images/logo.png') }}" alt="Welcome" id="logo"/></a>
                    </div>
                    <div class="col-sm-12 col-md-9">
                        <div class="pull-right" id="login">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                <a href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            {% else %}
                                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a> |
                                <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('room') }}">Rooms</a></li>
                            <li><a href="{{ path('thread') }}">Threads</a></li>
                            <li><a href="{{ path('post') }}">Posts</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
        <div class="container">

            {% block fos_user_content %}{% endblock fos_user_content %}

            <h1>{% block contentTitle %}{% endblock contentTitle %}</h1>

            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}">
                        {{ message|trans({}, 'FOSUserBundle') }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock body %}

        </div>

        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </body>
</html>