<!DOCTYPE html>
<html>
    <head>
        <title>{{ appConfig.systemName }} - {% block pageTitle %}Welcome{% endblock pageTitle %}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <!-- Custom styles -->
        {% stylesheets '@JamesMannionForumBundle/Resources/less/main.less' filter="cssrewrite" %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    </head>
    <body>
        <div class="container">
            <div class="row" id="header">
                <div class="container">
                    <div class="col-sm-12 col-md-3">
                        <a href="{{ path('JamesMannionForumBundle_homepage') }}"><img src="{{ asset('bundles/jamesmannionforum/images/logo.png') }}" alt="Welcome" id="logo"/></a>
                    </div>
                    <div class="col-sm-12 col-md-9">
                            {% if app.user %}
                                <div class="pull-right clearfix">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="dropdown" id="logged-in-as">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logged in as {{ app.user.username }} <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ path('JamesMannionForumBundle_logout') }}">Logout</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            {% else %}
                                <div class="pull-right" id="login">
                                    {{ render(controller('JamesMannionForumBundle:Authentication:loginForm')) }}
                                </div>
                            {% endif %}
                    </div>
                </div>
            </div>

        </div>
        <div class="container">

            <h1>{% block contentTitle %}{% endblock contentTitle %}</h1>

            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}">
                        {{ message|trans({}, 'FOSUserBundle') }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock body %}

        </div>

        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </body>
</html>