{% extends '::base.html.twig' %}

{% block pageTitle -%}{{ systemName }} | {{ title }}{% endblock pageTitle -%}

{% block contentTitle -%}{{ title }}{% endblock contentTitle -%}

{% block body -%}
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Author</th>
                <th>Posts</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('thread_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.author }}</td>
                <td>{{ entity.posts | length }}</td>
                <td>
                    <a href="{{ path('thread_show', { 'id': entity.id }) }}" class="btn btn-sm btn-default">show</a>
                    <a href="{{ path('thread_edit', { 'id': entity.id }) }}" class="btn btn-sm btn-default">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('thread_new') }}" class="btn btn-primary">Create a new entry</a>

    {% endblock %}
