{% extends '::base.html.twig' %}

{% block pageTitle -%}{{ systemName }} | {{ title }}{% endblock pageTitle -%}

{% block contentTitle -%}{{ title }}{% endblock contentTitle -%}

{% block body -%}
    <p>Creating a thread in {{ roomEntity.name }}</p>
    <a href="{{ path('thread') }}" class="btn btn-default">Back to list</a>

    {{ form(form) }}
{% endblock %}
