{% extends '::base.html.twig' %}

{% block pageTitle -%}{{ systemName }} | {{ title }}{% endblock pageTitle -%}

{% block contentTitle -%}{{ title }}{% endblock contentTitle -%}

{% block body -%}
    <p>Creating a thread</p>
    <a href="{{ path('thread') }}" class="btn btn-default">Back to list</a>

    <form action="{{ path('thread_create', { 'id': room.id }) }}" method="post" >
        {{ form_errors(form) }}
        {{ form_rest(form) }}
    </form>

{% endblock %}
