{% extends '::base.html.twig' %}

{% block pageTitle -%}{{ systemName }} | {{ title }}{% endblock pageTitle -%}

{% block contentTitle -%}{{ title }}{% endblock contentTitle -%}

{% block body -%}

    <h3>{{ thread.title }}</h3>

    {% if(posts|length > 0) %}
        <table class="table table-responsive table-striped">
            <thead>
            <tr>
                <th>Author</th>
                <th>Body</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.author.username }}</td>
                    <td>{{ post.body }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no posts in this thread</p>
    {% endif %}

    <a href="{{ path('post_new', { 'id': thread.id }) }}" class="btn btn-primary">Create a new Post</a>

    <a href="{{ path('thread') }}" class="btn btn-default">Back to the list</a>

{% endblock %}
