{% extends '::base.html.twig' %}

{% block pageTitle -%}{{ pageTitle }}{% endblock pageTitle -%}

{% block contentTitle -%}{{ pageTitle }}{% endblock contentTitle -%}

{% block body -%}

    <h3>{{ thread.title }}</h3>

    {% if(posts|length > 0) %}
        <table class="table table-responsive table-striped">
            <thead>
            <tr>
                <th>Author</th>
                <th>Body</th>
                <th>Created</th>
                <th>Updated</th>
                {% if app.user %}
                    <th>Action</th>
                    <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>
                        {{ post.author.username }}
                        {% if true == post.author.hasAvatar %}
                            <img src="{{ post.author.avatar.webpath }}" width="70"/>
                        {% endif %}
                    </td>
                    <td>{{ post.body }}</td>
                    <td>{{ post.created|date(appConfig.dateDisplayFormat) }}</td>
                    <td>{{ post.updated|date(appConfig.dateDisplayFormat) }}</td>
                    {% if app.user %}
                        <td>
                            {% if app.user == post.author %}
                                <a href="{{ path('post_edit', { 'id': post.id }) }}" class="btn btn-primary btn-sm">Edit</a>
                            {% endif %}
                        </td>
                        <td>
                            <button type="button" class="ajax btn {% if post in app.user.postLikes %}btn-success{% endif %} btn-sm">
                                <span data-ajaxroute="{{ path('post_like_toggle', {'id': post.id}) }}" class="glyphicon glyphicon-thumbs-up"></span>
                            </button>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no posts in this thread</p>
    {% endif %}

    <a href="{{ path('post_new', { 'id': thread.id }) }}" class="btn btn-primary">Create a new Post</a>

{% endblock %}
