{% extends '::base.html.twig' %}

{% block pageTitle -%}{{ systemName }} | {{ title }}{% endblock pageTitle -%}

{% block contentTitle -%}{{ title }}{% endblock contentTitle -%}

{% block body -%}

    <p>{{ thread.title }}</p>

    <h3>Posts in {{ title }}</h3>

    {% if(posts|length > 0) %}
        <ul>
            {% for post in posts %}
                <li>{{ post.body }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no posts in this thread</p>
    {% endif %}

    <a href="{{ path('post_new', { 'threadId': thread.id }) }}" class="btn btn-primary">Create a new Post</a>

    <a href="{{ path('thread') }}" class="btn btn-default">Back to the list</a>

{% endblock %}
