{% extends '::base.html.twig' %}

{% block pageTitle %}{{ pageTitle }}{% endblock pageTitle %}

{% block body -%}
    {% for building in buildings %}
        {% if(building.rooms|length > 0) %}
            <h3>{{ building.name }}</h3>
            <table class="table table-responsive table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Threads</th>
                    <th>Posts</th>
                    <th>Last Post</th>
                </tr>
                </thead>
                <tbody>
                {% for room in building.rooms %}
                    <tr>
                        <td><a href="{{ path('room_show', { 'id': room.id }) }}">{{ room.name }}</a></td>
                        <td>{{ room.description }}</td>
                        <td>{{ room.threads | length }}</td>
                        <td>-</td>
                        <td><a href="{{ path('user_show', { 'id': room.threads|first.posts|last.author.id }) }}">{{ room.threads|first.posts|last.author }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endfor %}

{% endblock %}
