{% extends '::base.html.twig' %}

{% block pageTitle -%}{{ systemName }} | {{ title }}{% endblock pageTitle -%}

{% block contentTitle -%}{{ title }}{% endblock contentTitle -%}

{% block body -%}

    <h3>There are {{ pagination.getTotalItemCount }} Rooms</h3>

    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Threads</th>
                <th>Posts</th>
                <th>Last Post</th>
            </tr>
        </thead>
        <tbody>
        {% for room in pagination %}
            <tr>
                <td><a href="{{ path('room_show', { 'roomId': room.id }) }}">{{ room.name }}</a></td>
                <td>{{ room.description }}</td>
                <td>{{ room.threads | length }}</td>
                <td>-</td>
                <td>{{ room.threads|first.posts|last.author }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <div class="row">
        <div class=" col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Statistics</div>
                <div class="panel-body">
                    Total posts 369104 | Total topics 28046 | Total members 5168 | Our newest member duncancopley
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
