{% extends '::base.html.twig' %}

{% block pageTitle -%}{{ pageTitle }}{% endblock pageTitle -%}

{% block contentTitle -%}{{ contentTitle }}{% endblock contentTitle -%}

{% block body -%}

    <p>{{ room.description }}</p>

    <h3>There are {{ threads|length }} Threads in {{ room.name }}</h3>

    {% if(0 < threads|length) %}

        <table class="table table-responsive table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Last Post</th>
                <th>Replies</th>
                <th>Views</th>
                {% if app.user %}
                    <th>Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for thread in threads %}
                <tr>
                    <td><a href="{{ path('thread_show', { 'id': thread.id }) }}">{{ thread.title }}</a></td>
                    <td><a href="{{ path('user_show', { 'id': room.id }) }}">{{ thread.posts|first.author.username }}</a></td>
                    <td>
                        {{ thread.posts|last.author.username }}
                        {{ thread.updated|date(appConfig.dateDisplayFormat) }}
                    </td>
                    <td>{{ thread.posts | length -1}}</td>
                    <td>{{ thread.views }}</td>
                    {% if app.user %}
                        <td>
                            {% if app.user == thread.posts|first.author %}
                                <a href="{{ path('thread_edit', { 'id': thread.id }) }}" class="btn btn-primary">Edit</a>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>There are no threads in this room</p>
    {% endif %}

    <a href="{{ path('thread_new', { 'id': room.id }) }}" class="btn btn-primary">Create a new Thread</a>

{% endblock %}
