{% extends '::base.html.twig' %}

{% block pageTitle -%}{{ systemName }} | {{ title }}{% endblock pageTitle -%}

{% block contentTitle -%}{{ title }}{% endblock contentTitle -%}

{% block body -%}

    <p>{{ room.description }}</p>

    <h3>There are {{ threads|length }} Threads in {{ title }}</h3>

    {% if(0 < threads|length) %}

        <table class="table table-responsive table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Last Post</th>
                <th>Replies</th>
                <th>Views</th>
            </tr>
            </thead>
            <tbody>
            {% for thread in threads %}
                <tr>
                    <td><a href="{{ path('thread_show', { 'id': thread.id }) }}">{{ thread.title }}</a></td>
                    <td>{{ thread.posts|first.author.username }}</td>
                    <td>
                        {{ thread.posts|last.author.username }}
                        {{ thread.updated|date('D M d, Y  H:i:s') }}
                    </td>
                    <td>{{ thread.posts | length -1}}</td>
                    <td>{{ thread.views }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>There are no threads in this room</p>
    {% endif %}

    <a href="{{ path('thread_new', { 'id': room.id }) }}" class="btn btn-primary">Create a new Thread</a>

{% endblock %}
