{% extends '::base.html.twig' %}

{% block pageTitle -%}{{ systemName }} | {{ title }}{% endblock pageTitle -%}

{% block contentTitle -%}{{ title }}{% endblock contentTitle -%}

{% block body -%}

    <p>{{ entity.description }}</p>

    <h2>Threads in {{ title }}</h2>

    {% if(threads|length > 0) %}
        <ul>
            {% for thread in threads %}
                <li>{{ thread.title }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no threads in this room</p>
    {% endif %}

    <a href="{{ path('thread_new', { 'roomId': entity.id }) }}" class="btn btn-primary">Create a new Thread</a>

    <a href="{{ path('room') }}" class="btn btn-default">Back to the list</a>

    {{ form(delete_form) }}
{% endblock %}
