{% extends '::base.html.twig' %}

{% block pageTitle -%}{{ systemName }} | {{ title }}{% endblock pageTitle -%}

{% block contentTitle -%}{{ title }}{% endblock contentTitle -%}

{% block body -%}

    <p>{{ entity.description }}</p>

    <h3>Threads in {{ title }}</h3>

    {% if(threads|length > 0) %}

        <table class="table table-responsive table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Author</th>
                <th>Posts</th>
            </tr>
            </thead>
            <tbody>
            {% for thread in threads %}
                <tr>
                    <td><a href="{{ path('thread_show', { 'threadId': thread.id }) }}">{{ thread.title }}</a></td>
                    <td>{% if thread.created %}{{ thread.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if thread.updated %}{{ thread.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ thread.author }}</td>
                    <td>{{ thread.posts | length }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>There are no threads in this room</p>
    {% endif %}

    <a href="{{ path('thread_new', { 'roomId': entity.id }) }}" class="btn btn-primary">Create a new Thread</a>

    <a href="{{ path('room') }}" class="btn btn-default">Back to the list</a>

{% endblock %}
